<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>dynamic_web01</display-name>
  <!-- annotation 실행을 위해 주석처리함 -->
  <!--servlet>
  	<servlet-name>mainController</servlet-name>
  	<servlet-class>controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mainController</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping -->
  
   <servlet>
  	<servlet-name>visitController</servlet-name>
  	<servlet-class>controller.VisitController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>visitController</servlet-name>
  	<url-pattern>/visit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>VisitUpdateController</servlet-name>
  	<servlet-class>controller.VisitUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VisitUpdateController</servlet-name>
  	<url-pattern>/visit/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>VisitDeleteController</servlet-name>
  	<servlet-class>controller.VisitDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VisitDeleteController</servlet-name>
  	<url-pattern>/visit/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BookmarkController</servlet-name>
  	<servlet-class>controller.BookmarkController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookmarkController</servlet-name>
  	<url-pattern>/bookmark</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BookmarkUpdateController</servlet-name>
  	<servlet-class>controller.BookmarkUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookmarkUpdateController</servlet-name>
  	<url-pattern>/bookmark/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BookmarkDeleteController</servlet-name>
  	<servlet-class>controller.BookmarkDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookmarkDeleteController</servlet-name>
  	<url-pattern>/bookmark/delete</url-pattern>
  </servlet-mapping>
    
  <servlet>
  	<servlet-name>JoinController</servlet-name>
  	<servlet-class>controller.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinController</servlet-name>
  	<url-pattern>/join</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>
